@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?pxxsrg");
  src: url("../fonts/icons.eot?pxxsrg#iefix") format("embedded-opentype"),
    url("../fonts/icons.ttf?pxxsrg") format("truetype"), url("../fonts/icons.woff?pxxsrg") format("woff"),
    url("../fonts/icons.svg?pxxsrg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  &::before {
    @extend %ic;
    // display: block;
  }
}

.icon-arrow-next:before {
  content: "\e900";
}
.icon-arrow-prev:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-share:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e90d";
}
.icon-next:before {
  content: "\e90e";
}
.icon-prev:before {
  content: "\e90f";
}
