$col-bg: #ffffff;
$col-item: #f8f8f8;
$col-text: #303030;

$ff-title: "Prata", serif;
// $ff-title: "Prata", sans-serif;

// $fs-50: 50px;
// $fs-36: 36px;
$fs-32: 32px;
// $fs-24: 24px;
$fs-20: 20px;
$fs-16: 16px;
// $fs-14: 14px;
// $fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;
// $fs-10: 10px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

// header
$fs-header-14: 14px;
$fs-header-10: 10px;

// banners
$fs-banners-20: 20px;
$fs-banners-50: 50px;

// nav
$fs-nav-13: 13px;
$fs-nav-14: 14px;

// popular
$fs-popular-16: 16px;

// sale
$fs-sale-13: 13px;

// discounts
$fs-discounts-20: 20px;
$fs-discounts-24: 24px;
$fs-discounts-36: 36px;

// articles
$fs-articles-14: 14px;
$fs-articles-16: 16px;
