// .swiper {
//   height: 200px;
// }
// .swiper-button-next::after {
//   color: $col-text;
//   font-size: 1ex;
//   // font-size: 80px;
//   // font-family: "icons";
//   // content: "\e900";
//   // // font-size: 100px;
//   // font-size: 1ex;
// }

.product-of-day {
  padding-top: 120px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %title;
  }

  &__slider-control-wrap {
    display: flex;
  }

  &__slider-control-btn-prev {
    width: 54px;
    height: 54px;
    border: 1px solid $col-text;
    border-radius: 50%;
  }

  &__slider-control-icon {
    font-size: 1ex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slider-control-btn-next {
    width: 54px;
    height: 54px;
    border: 1px solid $col-text;
    border-radius: 50%;
    margin-left: 8px;
  }

  &__content {
    margin-top: 33px;
  }

  &__wrapper {
  }

  &__slide {
    display: grid;
    grid-template-columns: 550px 650px;
    gap: 100px;
  }

  &__wrapper-left {
    position: relative;
  }

  &__info-row {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
  }

  &__new {
    padding: 4px 11px 4px 10px;
    background: #495159;
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    color: $col-bg;
    margin-right: 4px;
  }

  &__hit {
    padding: 4px 13px;
    background: #e1a661;
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    color: $col-bg;
    margin-right: 4px;
  }

  &__sale {
    padding: 4px 11px 4px 12px;
    background: #5b8a8f;
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    color: $col-bg;
  }

  &__content-img {
  }

  &__wrapper-img {
  }

  &__slide-img {
  }

  &__img {
  }

  &__img-button-prev {
  }

  &__img-button-next {
  }

  &__wrapper-right {
  }

  &__inner-stars {
    display: flex;
  }

  &__stars-row {
    display: flex;
  }

  &__star {
    margin-right: 6px;
  }

  &__grade {
    align-self: center;
    margin-left: 4px;
  }

  &__caption {
    margin-top: 24px;
    font-family: $ff-title;
    font-size: $fs-32;
    line-height: 32px;
    color: $col-text;
  }

  &__vendor-code {
    margin-top: 20px;
  }

  &__block {
    display: flex;
  }

  &__bl {
    display: flex;
  }

  &__prices {
    display: flex;
    align-items: end;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  &__price-new {
    font-weight: $fw-6;
    font-size: $fs-20;
    color: $col-text;
    margin-right: 16px;
  }

  &__price-old {
    font-size: $fs-16;
    text-decoration-line: line-through;
    color: #8f8f8f;
  }

  &__discount {
    margin-bottom: 13px;
    margin-top: 30px;
    padding: 4px 8px;
    background: #e24b33;
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    color: $col-bg;
  }

  &__timer {
    display: flex;
    background: #f5f5f5;
    padding: 12px 14px;
    margin-left: 36px;
  }

  &__timer-inner {
    padding: 6px 7px 5px;
    background: $col-bg;
    border: 1px solid #d0d0d0;
  }

  &__timer-time {
    font-weight: $fw-7;
    font-size: $fs-16;
    text-align: center;
    color: $col-text;
  }

  &__timer-text {
    font-weight: $fw-light;
    font-size: $fs-11;
    text-align: center;
    color: $col-text;
    padding-top: 2px;
    &--pad-lg {
      padding: 2px 3px 0;
    }
    &--pad-md {
      padding: 2px 2px 0 3px;
    }
  }

  &__separator {
    margin: 0px 9px;
    align-self: center;
  }

  &__divide {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
  }

  &__inner-colour {
    margin-top: 30px;
  }

  &__colour-text {
    font-weight: $fw-semibold;
    font-size: $fs-12;
    text-transform: uppercase;
    color: $col-text;
  }

  &__colour-row {
    display: flex;
    margin-top: 16px;
  }

  &__inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dadada;
    margin-right: 8px;
    &--active {
      border-color: $col-text;
    }
  }

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    &--gray {
      background: #d9d9d9;
    }
    &--goldenrod {
      background: #f1cb7e;
    }
    &--chocolate {
      background: #ea8c48;
    }
    &--honeydew {
      background: #a7e492;
    }
  }

  &__inner-size {
    margin-top: 30px;
    font-size: 0;
  }

  &__text-row {
    display: flex;
    align-items: center;
  }

  &__size-text {
    margin-right: 8px;
    font-weight: $fw-semibold;
    font-size: $fs-12;
    text-transform: uppercase;
    color: $col-text;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: #f0f0f0;
    border-radius: 50%;
  }

  &__size-row {
    margin-top: 14px;
    display: flex;
  }

  &__size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 50px;
    height: 32px;
    border: 1px solid #dadada;
    &--active {
      color: $col-bg;
      background: $col-text;
    }
    &--hidden {
      opacity: 0.35;
    }
  }

  &__box {
    margin-top: 40px;
    display: flex;
  }

  &__buttons {
    margin-right: 39px;
    display: flex;
    flex-direction: column;
    :last-child {
      margin-top: 10px;
    }
  }

  &__button {
    width: 400px;
    height: 56px;
    border: 1px solid $col-text;
    font-weight: $fw-medium;
    text-transform: uppercase;
    &--bg-black {
      background: #303030;
      color: $col-bg;
    }
  }

  &__icons {
    :nth-child(1) {
      margin-top: 5px;
    }
    :nth-child(2) {
      margin-top: 24px;
    }
    :nth-child(3) {
      margin-top: 24px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    font-weight: $fw-light;
    color: $col-text;
  }

  .icon- {
    &heart,
    &chart,
    &share {
      &::before {
        font-size: 18px;
        margin-right: 8px;
        color: #c9c9c9;
      }
    }
  }
}
.icon-arrow-prev {
}
.icon-arrow-next {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
